<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Licence</title>
</head>
<body>

    <div th:replace="~{fragments :: entete}"></div>

    <h2 th:text="${licence == null} ? 'Ajouter une licence' : 'Modifier une licence'">Licence</h2>

    <form th:action="${licence == null} ? @{/licences/ajouter} : @{/licences/{id}/modifier(id=${licence.id})}" method="post">
        <label>Numéro (6 caractères) : <input type="text" name="numero" th:value="${licence?.numero}"
                                              minlength="6" maxlength="6" required></label><br>
        <small>votre numéro utilisé pour le politronique au stand</small><br>
        <label>Valable jusqu'au : <input type="date" name="dateValidite" th:value="${licence?.dateValidite}"></label><br>
        <label th:replace="~{fragments :: choixTireur(${licence?.tireurId})}"></label>
        <button type="submit">Enregistrer</button>
    </form>

    <a th:href="@{/licences}" class="bouton">← Licences</a>

</body>
</html>
