<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Mon profil</title>
</head>
<body>

    <div th:replace="~{fragments :: entete}"></div>

    <h2>Mon profil</h2>

    <p>Prénom : <span th:text="${moi.firstName}"></span></p>
    <p>Nom : <span th:text="${moi.lastName}"></span></p>
    <p>Nom d'utilisateur : <span th:text="${moi.username}"></span></p>

    <a th:href="@{/profil/modifier}">Modifier mon profil</a>

</body>
</html>
