<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Saisons</title>
</head>
<body>

    <div th:replace="~{fragments :: entete}"></div>

    <h2>Saisons :</h2>

    <a th:if="${admin}" th:href="@{/saisons/ajouter}" class="bouton principal">+ Ajouter une saison</a>

    <ul>
        <li th:each="saison : ${saisons}">
            <strong th:text="${saison.annee}"></strong> :
            du <span th:text="${saison.dateDebut}"></span>
            au <span th:text="${saison.dateFin}"></span>
            <span th:if="${admin}">
                <a th:href="@{/saisons/{id}/modifier(id=${saison.id})}" class="bouton"><svg th:replace="~{fragments :: icone('modifier')}"></svg> Modifier</a>
                <form th:action="@{/saisons/{id}/supprimer(id=${saison.id})}" method="post" onsubmit="return confirm('Supprimer ?')">
                    <button type="submit"><svg th:replace="~{fragments :: icone('supprimer')}"></svg> Supprimer</button>
                </form>
            </span>
        </li>
    </ul>

</body>
</html>
