<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Saison</title>
</head>
<body>

    <div th:replace="~{fragments :: entete}"></div>

    <h2 th:text="${saison == null} ? 'Ajouter une saison' : 'Modifier une saison'">Saison</h2>

    <form th:action="${saison == null} ? @{/saisons/ajouter} : @{/saisons/{id}/modifier(id=${saison.id})}" method="post">
        <label>Année : <input type="text" name="annee" th:value="${saison?.annee}" placeholder="2026-2027" required></label><br>
        <label>Début : <input type="date" name="dateDebut" th:value="${saison?.dateDebut}" required></label><br>
        <label>Fin : <input type="date" name="dateFin" th:value="${saison?.dateFin}" required></label><br>
        <button type="submit">Enregistrer</button>
    </form>

    <a th:href="@{/saisons}" class="bouton">← Saisons</a>

</body>
</html>
